/* Body */

body {
    background-color: #F9FAFC;
    font-family: 'Hind Madurai';
}

/* Logo */
.brand {
    font-family: 'Dancing Script', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    color: #4A4A4F;
}

/* Background */
.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #5c5c5c;
}

.main-bg {
    background-color: #F6F6F6;
}

/* Feature Content Carousel */
.carousel-item img {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    height: 75vh;
}

.carousel-item:before {
    content: "";
    background-image:
        linear-gradient(
            to bottom,
            transparent, rgba(0,0,0,0),
            rgba(0,0,0,1)
        );
    display: block;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
}

/* Background image for contact page */
.bgimage {
    width: 100%;
    height: 500px;
    background: url('/static/images/contact-img-4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* Navbar */
/* stroke effect*/
.nav-link {
    transition: all 0.2s;
    position: relative;
}

.nav-link::after {
    content: '';
    opacity: 0;
    height: 2px;
    width: 100%;
    background-color: #445261;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.2s;
}

.nav-link:hover {
    font-weight: bold;
}

.nav-link:hover::after {
    opacity: 1;
}

.dropdown-item:hover {
    color: #ef8e88;
}

/* Font Awesome */
.profile-link {
    text-decoration: none;
    color: #000;
}

.fa-user:hover,
.dropdown-toggle:hover {
    color:#ef8e88;
}

.fa-brands {
    color: #F6F6F6;
    transition: .2s;
}

.fa-brands:hover {
    color: #ef8e88;
    transform: scale(1.5);
}

/* Cards */
.card {
    background-color: transparent;
}

.card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #bbbbbb;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.post-link {
    text-decoration: none;
    color: #5c5c5c;
}

.post-link:hover,
.page-link {
    color: #ef8e88;
}

.post-title {
    font-family: 'Montserrat';
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: #5c5c5c;
}

/* Post Detail  */
/* Post Detail Image */
.detail-img {
    height: 60vh;
    object-fit: cover;
}

/* Buttons */

.btn-signup,
.btn-send-msg {
    background-color: #ef8e88;
    color: #f6f6f6;
}

.btn {
    width: 100%;
}

.btn-cancel {
    background-color: #f38f60;
    color: #fff;
}

.btn-cancel:hover,
.btn-cancel:active {
    background-color: #fff;
    color: #f38f60;
}

.btn-signup:hover,
.btn-signup:active,
.btn-send-msg:hover,
.btn-send-msg:active {
    background-color: #fff;
    color: #ef8e88;
}

.link {
    color: #ef8e88;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #5c5c5c;
    text-decoration: underline;
}

.btn-like {
    color: #ef8e88;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #ef8e88;
    background: transparent;
    border: none;
}

/* Comments */
.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}
