{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<section class="bgimage">
</section>
<div class="container">
    <div class="row">
        <div class="col-lg-6 my-3">
            <h2>{{ contact.title }}</h2>
            <p>{{ contact.content | safe }}</p>
            <p class="fw-bold">Email: {{ contact.email }}</p>
            <p class="fw-bold">Contact Number: {{ contact.contact_number }}</p>
        </div>
        <div class="col-lg-6 my-3">
            <form method="post">
                {{ form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-send-msg btn-lg mt-3">
                    Send Message
                </button>
                
            </form>
        </div>
    </div>
</div>
{% endblock content %}