{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
{% if user.id == post.author.id %}
<div class="row justify-content-center">
    <div class="col-md-4 mt-3">       
            <h3 class="text-center">Are you sure you want to delete <strong>"{{ object }}"?</strong><br>
                This post will be deleted immediately<br>
                You cannot undo this action.</h3><br>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-cancel" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Yes, I want to delete
            </button>
        <a href="{% url 'post_detail' post.slug %}" class="btn btn-send-msg mt-3">No, back to post</a>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Are you sure you want to delete <strong>"{{ object }}"?</strong></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-cancel">Yes, I'm sure</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-send-msg" data-bs-dismiss="modal">No I change my mind</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="row justify-content-center">
    <div class="col-md-4 mt-3">
        <h3 class="text-center">You are not authorized on this page!</h3>
        <a href="{% url 'home'%}" class="btn btn-send-msg">Back</a>
    </div>
</div>
{% endif %}
{% endif %}


{% endblock content %}